:root {
    --background-color: #F3F3F4;

    --box-color: #585858;
    --int-box-color: #737373;

    --input-color: #737373;
    --accent-color: #5878918a;
    --box-radius: 4px;


    --ss-warning: #E3C567;
    --ss-error: #FF6666;
    --ss-success: #6FD08C;
    --ss-info: #39A9DB;
    

    --font-color: #ffffff;
    --greyed-out-font-color: #b3b3b3;
    --font-color-inverted: #0F6BB0;
    --muted-font-color: #b3b3b3;

    --toast_background: #161616;
    --margins: 10px;
    --int-box-padding: 10px;

    --menu-box-width: 250px;
    --popup-box-width: 400px;


    --error-main: #FF6666;
    --error-light: #FFB3B3;

    --warning-main: #E3C567;
    --warning-light: #F2E3B3;

    --success-main: #6FD08C;
    --success-light: #B3E3C5;

    --info-main: #39A9DB;
    --info-light: #B3DDE3;
}

body {
    background-color: #161616;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}